{% import '@pragmatica/pragmatica-macros.html.twig' as macros %}
  <style>
    .badge-square {
      border-radius: 0 !important;
      font-weight: 500;
      padding: 0.4em 0.6em;
    }
    .card-text {
      font-size: 1.25rem;
      line-height: 1.6;
    }
    .tooltip-inner {
      max-width: 400px !important;
      text-align: left;
    }
    .hover-link {
      text-decoration: none;
    }
    .hover-link:hover {
      text-decoration: underline;
      color: #000 !important;
    }
  </style>

<div class="pragmatica">
  <h2 class="pragmatica-title">{{ 'Filtros'|t }}</h2>

  <form method="POST">

    <div class="container p-0 m-0">
      <div class="row">
        {% for field in filters %}
          <div class="col-12 col-md-6 col-lg-4">
            {{ macros.renderField(field) }}
          </div>
        {% endfor %}
      </div>
    </div>

    <button type="submit" class="btn btn-primary">{{ 'Buscar'|t }}</button>
  </form>

  <div class="pragmatica-search-results">
    <h2 class="pragmatica-subtitle mt-4">{{ 'Resultados'|t }}</h2>
    {% if results.responses %}
      {% for response in results.responses %}
        {{ macros.annotation_card(response.label, response.url, response.situation, response.informant, response.tags) }}
      {% endfor %}
    {% else %}
      <p>{{ 'Nenhum resultado encontrado.'|t }}</p>
    {% endif %}
  </div>

</div>


